<h2>New message</h2>
<form action="/new" method="POST">
  <label>Author's name:
    <input type="text" id="user" name="user" />
  </label>
  <label>Message:
    <input type="text" id="text" name="text" />
  </label>
  <button type="submit">submit</button>
</form>